<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns="http://www.springframework.org/schema/beans"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
     http://www.springframework.org/schema/context
     http://www.springframework.org/schema/context/spring-context-4.0.xsd
     http://www.springframework.org/schema/tx
     http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
     http://www.springframework.org/schema/aop
     http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- spring beans autowired scan config start -->
	<context:component-scan base-package="com.el.qr.login" />
	<!-- spring beans autowired scan config end -->

	<context:property-placeholder ignore-unresolvable="true" local-override="true"
								  location="classpath*:/properties/application.properties"/>


	<!-- dianping cat aop config start -->
	<bean id="packageProxyFactoryBean" class="com.eloancn.framework.ump.annotation.PackageProxyFactoryBean">
		<property name="packages"><!--方法拦截的包路径-->
			<list>
				<!-- 直接使用spring的scan即可 -->
				<value>com.el.qr.login</value>
			</list>
		</property>
	</bean>
	<!-- dianping cat aop config end -->

</beans>