<?xml version="1.0" encoding="UTF-8"?>
<beans xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
			http://code.alibabatech.com/schema/dubbo
			http://code.alibabatech.com/schema/dubbo/dubbo.xsd"
	   xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns="http://www.springframework.org/schema/beans">

	<!-- 提供方应用信息 -->
	<dubbo:application name="qrlogin" owner="qrlogin" organization="dubbox"/>
	<!-- dubbo接口去除注册中心，采用直连的方式 -->
	<!-- <dubbo:registry address="N/A" ></dubbo:registry> -->
	<!-- 使用zookeeper注册中心暴露服务地址 -->
	<dubbo:registry id="elZookeeper" protocol="zookeeper" address="${zookeeper.address}" timeout="15000"/>
	<!-- 用dubbo协议在20880端口暴露服务 -->
	<dubbo:protocol name="dubbo" port="20880" />

	<!-- 声明需要暴露的服务接口-->

</beans>
